<template>
    <div class="titulo">
        <h2><font size=20><font color="#333333">¿A QUÉ NOS DEDICAMOS?</font></font></h2>
        <h2><font color="#E6621F">Nuestros proyectos</font></h2>
    </div>
 
    </template>
    <style>
.titulo{
    
    text-align: center;
}
    </style>
    <script>
    export default {
      name: 'header_o',
      
    }
    </script>