<template>
  <header_o>
  
  </header_o>
  </template>
  
  <script>
  import header_o from './header_o.vue';
  export default {
    name: 'HelloWorld',
    components: {
      header_o
    }
  }
  </script>