<template>
  
  <HelloWorld msg="Welcome to Your Vue.js App"/>
  
  
  
  
  <div class="contenedores">
        <div class="cont1">
            <h1>  </h1>
            <img alt="jov" src="./assets/jovenes.jpeg">
            <h1>Jovénes</h1>
            <p>Los jóvenes pueden ser una fuerza <br>
                positiva para el desarrollo cuando <br>
                se les brinda el conocimiento y las <br>
            oportunidades que necesitan todos</p>
                <button type="button" class="button1">Ver Más</button>
                <h1>  </h1>
        </div>
        <div class="cont2">
            <h1>  </h1>
            <img alt="ed" src="./assets/educacion.jpeg">
            <h1>Educación</h1>
            <p>La educación es el proceso de facilitar<br>
                el refinamiento de capacidades propias <br>
                del individuo, mediante el aprendizaje <br>
                o la construcción de conocimientos </p>
                <button type="button" class="button1">Ver Más</button>
                <h1>  </h1>
            </div>
        <div class="cont3">
            <h1>  </h1>
            <img alt="accion" src="./assets/accion.jpeg">
            <h1>Acción Social</h1>
            <p>En sociología, acción social se refiere a<br>
                toda acción ue tenga un sentido para quienes<br>
                la realizan, afectando o no, la conducta de<br>
                otros, y cuya orientación es altruista</p><br>
                <button type="button" class="button1">Ver Más</button> 
                <h1>  </h1>
        </div>
        <div class="cont4">
            <h1>  </h1>
            <img alt="damilia" src="./assets/familia.jpeg">
            <h1>Familias</h1>
            <p>La familia se define como un grupo de <br>
                personas, vinculadas generalmente por <br>
                lazos de sangre o políticos, e <br>
                independientemente de su grado</p>
                <button type="button" class="button1">Ver Más</button>
                <h1>  </h1>
        </div>
        
    </div>

  
</template>

<style>
.col{
background-color: #FFFFFF;
}
.titulo{
    
    text-align: center;
}
.tit1 {
    size: 650px;
}
.contenedores{
    color: #333333;
    display: flex;
    
    text-align: center ;
    margin-left: 10px;
    }
.cont1{
  margin: 25px;
}
.cont2{
    margin: 25px;
  }
  .cont3{
    margin: 25px;
  }
  .cont4{
    margin: 25px;
  }
  .button1{
    color: #E6621F;
    padding: 10px;
    cursor: pointer;
    border-color:  #E6621F;
    border-radius: 10px;
    margin-left: 20px;
  }
  .button1:hover{
    color: #FFFFFF;
    background-color:#E6621F;
  }
  .cont2:hover{
    background-color: #E6621F;
    color: #FFFFFF;
  }
  .cont3:hover{
    background-color: #E6621F;
    color: #FFFFFF;
  }
  .cont1:hover{
    border-style: solid;
    border-width: 1px;
    border-color:#E6621F;
  }
  .cont4:hover{
    border-style: solid;
    border-width: 1px;
    border-color:#E6621F;
  }

</style>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  }
}
</script>


